/**
   * Nunito Sans
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 1000
   */
.nunito-default {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nunito-400{
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-border{
    text-shadow: 
        -1px -1px 0 #000000, /* Ombra in alto a sinistra */
        1px -1px 0 #000,  /* Ombra in alto a destra */
        -1px 1px 0 #000,  /* Ombra in basso a sinistra */
        1px 1px 0 #000; 
}